@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Poor+Story&family=Source+Sans+Pro&family=Space+Mono&display=swap');

/* START Global Selectors */
.navBgColor {
    background: #000324;
}

.nav-link {
    display: flex;
    justify-content: baseline;
}

body::before {
    display: block;
    content: '';
    height: 120px;
}

/* END Global Selectors */

/* START custom selectors */

.black-text {
    color: #1A1B26;
}

.white-text {
    color: #E5FEFF;
}

.dosis {
    font-family: 'Dosis', sans-serif;
}

.source-sans {
    font-family: 'Source Sans Pro', sans-serif;
}

.res-link:hover {
    outline: #E5FEFF solid 1px;
    outline-offset: -0.5rem;
    /* padding: 1px 3px 1px 3px; */
}

.header-bg-box {
    background-image: url('../images/header.jpg');
    width: auto, 0;
    min-height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.header-box {
    display: flex;
    justify-content: center;
    min-width: 47rem;
    height: auto, 0;
    background-color: #000324c8;
    margin: 7rem;
}

.header-box-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


nav {
    height: 120px;
}

.logo-img {
    max-width: 9rem;
    height: auto;
}

.resBtn {
    /* margin-bottom: 6px; */
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.relaxedHam {
    display: flex;
    justify-content: center;
    max-width: 23rem;
    max-height: 26rem;
    margin: auto;
    /* padding: 0em; */
}

.card {
    border-radius: 0;
    border: none;
    max-width: 19rem;
    height: auto;
}

.card-img-top {
    border-radius: 0;
}

.award-images-container {
    display: flex;
    justify-content: center;
    margin: 0rem;
    max-width: 47.5rem;
    height: auto;
}

.award-images {
    max-width: 12.5rem;
    height: auto;
    padding: .5rem;
}

.overview-height {
    display: flex;
    min-height: 30rem;
}

.overview-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 20rem;
    width: auto;
}

.ov-col-one {
    min-height: 15rem;
    width: 18rem;
}

.ov-col-two {
    display: grid;
    align-items: center;
    min-height: 10rem;
    width: 10rem, 0;
}

.room-bg {
    background-image: url('../images/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.room-card-row {
    min-width: 60rem;
    height: auto;
}

.center-list {
    padding-left: 1rem;
    font-size: x-small;
}

.rooms-btn {
    border-radius: 0px;
    max-width: 7rem;
    height: auto;
    background-color: #004CC7;
    color: #E5FEFF;
}

.packages-img {
    width: 32.5rem;
    height: 14.6rem;
    margin: auto, 0;
    padding: 0%;
    object-fit: cover;
    object-position: -1.5rem;
}

.rooms-cards {
    max-width: 20rem;
    height: auto, 0;
}

.package-price-text {
    color: #1F51A8;
}

.col-height {
    /* width: 30%; */
}

.amenities-bg {
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.amenities-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    min-height: 20rem;
    margin: 3rem;
    padding: 2rem;
}

.valet-icon {
    width: auto;
    height: 104px;
}

/* END custom selectors */

@media (max-width: 540px) {
    .toggle-button {
        display: flex;
    }

    .nav-link {
        display: none;
    }
}