@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Poor+Story&family=Source+Sans+Pro&family=Space+Mono&display=swap');

/* START Global Selectors */
.navBgColor {
    background: #000324;
}

.nav-link {
    display: flex;
    justify-content: baseline;
}

body::before {
    display: block;
    content: '';
    height: 120px;
}

a,
h1,
h6 {
    color: #E5FEFF;
    font-family: 'Dosis', sans-serif;
}

p, h2, h5 {
    color: black;
    font-family: 'Dosis', sans-serif;
}


/* END Global Selectors */

/* START custom selectors */

.black-text {
    color: black;
    font-family: 'Dosis', sans-serif;
}

.res-link {
    border: white solid 1px;
    padding: 1px 3px 1px 3px;
}

.header-bg-box {
    background-image: url('../images/header.jpg');
    width: auto, 0;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.header-box {
    display: flex;
    justify-content: center;
    width: 45rem;
    min-height: 10px;
    background-color: #000324c8;
    margin: 7rem;
}

.header-box-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.large-header-text {
    font-weight: lighter;
    color: white;
}

.small-header-text {
    font-weight: lighter;
    color: white;
}

nav {
    height: 120px;
}

.resBtn {
    margin-bottom: 6px;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.relaxedHam {
    display: flex;
    justify-content: center;
    width: auto;
    max-height: 416px;
    margin: auto;
    padding: 0em;
}

.card {
    border: none;
    max-width: 89%;
    height: 500px;
}

.award-images {
    max-width: 10rem;
    height: auto;
    padding: 1rem;
}

.overview-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4rem;
    min-height: 30rem;
    width: auto;

}

.room-content {
    background-image: url('../images/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.center-list {
    padding-left: 1rem;
    font-size: x-small;
}

.rooms-btn {
    display: flex;
    justify-content: baseline;
    background-color: #004CC7;
    color: white;
}

.packages-img {
    width: 10rem;
    height: auto, 0;
}

/* END custom selectors */

@media (max-width: 540px) {
    .toggle-button {
        display: flex;
    }

    .nav-link {
        display: none;
    }
}