@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Poor+Story&family=Source+Sans+Pro&family=Space+Mono&display=swap');

/* START Global Selectors */
body {
    margin: 0;
}

.navBgColor {
    background: #000324;
}

.nav-link {
    display: flex;
    justify-content: baseline;
}
/* this helps the body content appear right below the fixed navbar instead of behind it */
body::before {
    display: block;
    content: '';
    height: 7.5rem;
}

/* END Global Selectors */

/* START custom selectors */

.black-text {
    color: #1A1B26;
}

.white-text {
    color: #E5FEFF;
}

.dosis {
    font-family: 'Dosis', sans-serif;
}

.source-sans {
    font-family: 'Source Sans Pro', sans-serif;
}

.res-link:hover {
    outline: #E5FEFF solid 1px;
    outline-offset: -0.5rem;
    /* padding: 1px 3px 1px 3px; */
}

.header-bg-box {
    background-image: url('../images/header.jpg');
    width: auto, 0;
    min-height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.header-box {
    display: flex;
    justify-content: center;
    min-width: 47rem;
    height: auto, 0;
    background-color: #000324c8;
    margin: 7rem;
}

.header-box-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* 
nav {
    height: 7.5rem;
} */

.logo-img {
    max-width: 9rem;
    height: auto;
}

.resBtn {
    /* margin-bottom: 6px; */
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.relaxedHam {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
    margin: auto;
    object-fit: cover;
    object-position: 70% 40%;}

.card {
    border-radius: 0;
    border: none;
    max-width: 19rem;
    height: auto;
}

.card-img-top {
    border-radius: 0;
}

.award-images-container {
    display: flex;
    justify-content: center;
    margin: 0rem;
    max-width: 47.5rem;
    height: auto;
}

.award-images {
    max-width: 12.5rem;
    height: auto;
    padding: .5rem;
}

.carousel-award-images {
    max-width: 9rem;
    height: auto;
    padding: 1rem;
}

.overview-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 20rem;
    width: 100%;
}

.ov-col-one {
    min-height: 15rem;
    width: 18rem;
}

.ov-col-two {
    display: grid;
    align-items: center;
    min-height: 10rem;
    width: 10rem, 0;
}

.room-bg {
    background-image: url('../images/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.center-list {
    padding-left: 1rem;
    font-size: x-small;
}

.rooms-btn {
    border-radius: 0px;
    max-width: 7rem;
    height: auto;
    background-color: #004CC7;
    color: #E5FEFF;
}

.packages-img {
    width: 32.5rem;
    height: 14.6rem;
    margin: auto, 0;
    padding: 0%;
    object-fit: cover;
    object-position: -1rem;
}

.rooms-cards {
    max-width: 20rem;
    height: auto, 0;
}

.package-price-text {
    color: #1F51A8;
}


.amenities-bg {
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.amenities-container {
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    gap: 9rem;
    min-height: 20rem;
    margin: 3rem;
    /* padding: 2rem; */
}

.valet-icon {
    width: auto;
    height: 104px;
}

.reserve-img {
    width: 71rem;
    height: 25.8rem;
    object-fit: cover;
    object-position: 40% 70%;
}

.reserve-bx {
    max-width: 71rem;
    min-height: 207px;
    background-color: #000324;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.reserve-btn {
    background-color: #004CC7;
    border: #000DC7 solid 1px;
    min-height: 2.375rem;
    width: 11.8rem;
    font-size: 20px;
}

.input-bx {
    gap: 1rem;
}

.btn-width {
    max-width: 11rem;
}

input {
    min-width: 11rem;
    min-height: 2.375rem;
}

select {
    min-width: 11rem;
    min-height: 2.375rem;
}

footer {
    background-color: #000324;
    width: 100%;
    min-height: 18.7rem;
}

.ft-logo-img {
    max-width: 8.9rem;
    max-height: auto;
}
/* I created 'invisible' a tags with their respective classes below that have the same height as the navbar so the navbar wont hide the top of the content, since the navbar is fixed. */
a.ov-anchor, a.h-anchor, a.rms-anchor, a.p-anchor, a.a-anchor, a.res-anchor, a.c-anchor {
    display: block;
    position: relative;
    top: -7.5rem;
    visibility: hidden;
}

/* .main-reserve-bx {
    padding-left: 13rem;
    padding-bottom: 4rem;
} */

/* .input-container {
    width: 71rem;
    gap: 1rem;
} */

/* END custom selectors */

@media (max-width: 540px) {
    .toggle-button {
        display: flex;
    }

    .nav-link {
        display: none;
    }
}